body {
    margin: 0%;
}

#todo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    margin: 2%;
    gap: 70px;
    top: 23%;
}

#titulo{
    position: absolute;
    top: 8%;
    left: 40%;
    text-align: center;
}

#img-proyec {
    width: 100%;
    border: 5px solid yellow;
}

@media screen and (max-width:500px) and (min-width:250px) {
    #todo{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    #titulo{
        left: 17%;
    }
}

@media screen and (max-width:770px) and (min-width:501px) {
    #todo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    #titulo{
        left: 20%;
    }
}
