body {
    margin: 0%;
}

#img-banner {
    width: 700px;
    /* height: 50%; */
}

#banner {
    background-color: black;
    width: 100%;
    /* align-self: center; */
    display: flex;
    justify-content: center;
    position: sticky;
    position: absolute;
    position: fixed;
    z-index: 1000;
    top: 0px;
}


#menu_lateral {
    background-color: black;
    color: white;
    width: 15.5%;
    z-index: 10;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    /* position: sticky; */
    /* position: absolute; */
    position: fixed;
    top: 120px;
    left: 0px;
    overflow-y: auto;
    padding-bottom: 20%;

}

#menu_lateral::-webkit-scrollbar {
    width: 0.5em;
}

#menu_lateral::-webkit-scrollbar-thumb {
    background-color: #888;
}



.titulos_menu {
    white-space: nowrap;
    position: relative;
}

#menu_lateral ul a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;

}

#menu_lateral ul {
    padding: 0%;
}

#menu_lateral ul a:hover {
    color: rgb(0, 218, 0);

}

#menu_lateral ul a:hover img {
    filter: saturate(100);
    filter: blur(100);

}

#menu_lateral ul a img {
    padding-top: 5%;
    justify-items: end;
}

#black {
    color: black;
}

#gmi-menu-wich{
    width: 25%;
}

#gmi-perro{
    width: 20%;
}

#gmi-deleitar{
    width: 30%;
}

#gmi-paporra{
    width: 18%;
}

#gmi-bebida{
    width: 15%;
}
#gmi-adicion{
    width: 19%;
}

#titulo1 {
    padding-right: 5%;
    position: relative;

}

#titulo2 {
    padding-right: 15%;

}

#titulo3 {
    padding-right: 45%;
}

#titulo4 {
    padding-right: 7%;
}

#titulo5 {
    padding-right: 34%;
}

#titulo6 {
    padding-right: 25%;
}

#titulo7 {
    padding-right: 10%;
}

#titulo8 {
    padding-right: 37%;
}

#titulo9 {
    padding-right: 16%;
}

#titulo10 {
    padding-right: 45%;
}

#titulo11 {
    padding-right: 21%;
}

#titulo12 {
    padding-right: 40%;
}


/* #perro{
    position: relative;
    padding-left: 50%;
} */

/* ----- PIE ----- */

footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: black;
    width: 90%;
    float: right;
    height: 150px;
    color: white;
}

#img-whatsapp {
    width: 20px;
    height: 20px;
}

#menu {
    width: 50%;
    display: flex;
    justify-content: center;
}

#foot-info {
    width: 50%;
    margin-left: 5%;
    align-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ----- PERROS ----- */

#perro {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 83%;
    gap: 2%;
    margin: 1%;
    margin-bottom: 100px;
    float: right;
}

#img-perro {
    width: 100%;
}

#grupo {
    display: flex;
    justify-content: center;
    position: relative;
}


#txt-perro {
    position: absolute;
    display: flex;
    align-items: center;
    height: 15%;
    /* margin-right: 10%; */
    /* margin: 0px; */
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: crimson;
    width: 100%;
    font-family: name;
    letter-spacing: 3px;
    font-size: 25px;
}

#img-img-whats {
    width: 35px;
}

.whats {
    display: flex;
    /* display: grid;
    grid-template-columns: 1fr auto; */
    /* font-size: 130%; */
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    /* gap:0px; */
    /* width: 100%; */
    align-items: center;
}

/* #appi{
    display: flex;
    justify-content: center;
} */

.fin_box {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    gap: 3%;
    width: 90%;
    float: right;
    align-items: center;
}

.precio {
    display: flex;
}

.num {
    font-size: 135%;
    color: rgb(43, 189, 43);

}

.cop {
    rotate: 300grad;
    /* font-size: 80%; */
}


/* ----- DELEITAR ----- */

#derecha {
    width: 85%;
    float: right;
}

#inicio {
    /* float: right; */
    /* margin: 0%; */
    display: flex;
    justify-content: center;
    position: relative;
}

#img-inicio {
    width: 100%;
}

@font-face {
    font-family: name;
    src: url(letra.ttf);
}

#txt-inicio {
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: crimson;
    width: 100%;
    font-family: name;
    letter-spacing: 3px;
    font-size: 25px;
}

#txt-1 {
    color: rgb(255, 81, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    margin-left: 3%;
    font-weight: bold;
    font-size: 140%;
}

#txt-2 {
    margin-left: 3%;
}

#img-salchi {
    width: 100%;
}

#todo-yupi {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8%;
    margin: 1%;
    /* margin-bottom: 100px; */
}

#postri {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#todo {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.8%;
    margin: 1%;
    margin-bottom: 100px;
}

#todo-alita {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8%;
    margin: 1%;
    margin-bottom: 100px;
}

#todo-parrilla {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8%;
    margin: 1%;
    margin-bottom: 100px;
}

#todo-wich {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 0.8%;
    margin: 1%;
    margin-bottom: 100px;
}

#pre-todo {
    color: rgb(43, 189, 43);
    font-size: 150%;
    margin-left: 3%;
}

@media screen and (max-width: 1809px) and (min-width: 1025px) {    
    #titulo1 {
        padding-right: 2%;
        font-size: 80%;
        position: relative;
    
    }
    
    #titulo2 {
        font-size: 80%;
        padding-right: 13%;
    
    }
    
    #titulo3 {
        font-size: 80%;
        padding-right: 44%;
    }
    
    #titulo4 {
        font-size: 80%;
        padding-right: 6%;
    }
    
    #titulo5 {
        font-size: 80%;
        padding-right: 34%;
    }
    
    #titulo6 {
        font-size: 80%;
        padding-right: 25%;
    }
    
    #titulo7 {
        font-size: 80%;
        padding-right: 10%;
    }
    
    #titulo8 {
        font-size: 80%;
        padding-right: 37%;
    }
    
    #titulo9 {
        font-size: 80%;
        padding-right: 16%;
    }
    
    #titulo10 {
        font-size: 80%;
        padding-right: 45%;
    }
    
    #titulo11 {
        font-size: 80%;
        padding-right: 21%;
    }
    
    #titulo12 {
        font-size: 80%;
        padding-right: 40%;
    }
    
    /* ----- PERRO ----- */
    #perro {
        /* display: grid;
        grid-template-columns: 1fr 1fr; */
        margin-bottom: 7%;
        /* gap: 3%; */
    }

    .whats {
        width: 105px;
    }

    #img-img-whats {
        width: 25px;
    }

    /* ----- DELEITAR ----- */
    #todo {
        /* display: grid; */
        /* grid-template-columns: 1fr 1fr; */
        margin-bottom: 1%;
        gap: 1%;
    }

    #todo-wich {
        margin-bottom: 1%;
    }

    #todo-alita {
        /* display: flex;
        flex-direction: column; */
        margin-bottom: 4%;
    }

    #todo-parrilla {
        /* display: grid;
        grid-template-columns: 1fr 1fr; */
        margin-bottom: 3%;
    }

    #img-postri {
        width: 100%;
        height: 100%;
    }

    #inicio {
        margin-top: 10%;
    }

    #img-inicio {
        width: 100%;
    }

    #txt-inicio {
        font-size: 200%;
    }

    #txt-1 {
        font-size: 140%;
    }

    #txt-2 {
        font-size: 120%;
    }

    #pre-todo {
        font-size: 135%;
    }

    /* ----- PIE ----- */
    #menu {
        align-items: center;
    }

    #menu-menu {
        width: 50%;
        height: 100%;
    }

    #foot-info {
        font-size: 110%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 626px) {
    #img-banner {
        width: 500px;
        /* height: 60%; */
    }
    /* ----- MENU LATERAL ----- */

    #menu_lateral{
        top: 50px;
    }
    
    #gmi-menu-wich{
        width: 60px;
    }
    
    #gmi-perro{
        width: 45px;
    }
    
    #gmi-deleitar{
        width: 55px;
    }
    
    #gmi-paporra{
        width: 45px;
    }
    
    #gmi-bebida{
        width: 40px;
    }
    #gmi-adicion{
        width: 40px;
    }

    #titulo1{
        display: none;
    }

    #titulo2{
        display: none;
    }

    #titulo3{
        display: none;
    }

    #titulo4{
        display: none;
    }

    #titulo5{
        display: none;
    }

    #titulo6{
        display: none;
    }

    #titulo7{
        display: none;
    }

    #titulo8{
        display: none;
    }

    #titulo8{
        display: none;
    }

    #titulo9{
        display: none;
    }

    #titulo10{
        display: none;
    }

    #titulo11{
        display: none;
    }

    #titulo12{
        display: none;
    }

    /* ----- PERRO ----- */
    #perro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 25%;
        /* gap: 3%; */
    }

    .whats {
        width: 115px;
    }

    #img-img-whats {
        width: 35px;
    }

    /* ----- DELEITAR ----- */
    #todo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10%;
        gap: 1%;
    }

    #todo-wich {
        margin-bottom: 1%;
    }

    #todo-alita {
        display: flex;
        flex-direction: column;
        margin-bottom: 1%;
    }

    #todo-parrilla {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 3%;
    }

    #todo-yupi {
        display: flex;
        flex-direction: column;
    }

    #img-postri {
        width: 100%;
        height: 100%;
    }

    #inicio {
        margin-top: 10%;
    }

    #img-inicio {
        width: 100%;
    }

    #txt-inicio {
        font-size: 125%;
    }

    #txt-1 {
        font-size: 130%;
    }

    #txt-2 {
        font-size: 100%;
    }

    #pre-todo {
        font-size: 110%;
    }

    /* ----- PIE ----- */
    #menu {
        align-items: center;
    }

    #menu-menu {
        width: 40%;
        height: 40%;
    }

    #foot-info {
        font-size: 80%;
    }
}

@media screen and (max-width: 625px) and (min-width:320px) {
    #img-banner{
        width: 300px;
    }

    /* ----- MENU LATERAL ----- */

    #menu_lateral{
        top: 50px;
    }

    a{
        display: flex;
        justify-content: center;
    }
    
    #gmi-menu-wich{
        width: 45px;
    }
    
    #gmi-perro{
        width: 35px;
    }
    
    #gmi-deleitar{
        width: 45px;
    }
    
    #gmi-paporra{
        width: 35px;
    }
    
    #gmi-bebida{
        width: 30px;
    }
    #gmi-adicion{
        width: 30px;
    }

    #titulo1{
        display: none;
    }

    #titulo2{
        display: none;
    }

    #titulo3{
        display: none;
    }

    #titulo4{
        display: none;
    }

    #titulo5{
        display: none;
    }

    #titulo6{
        display: none;
    }

    #titulo7{
        display: none;
    }

    #titulo8{
        display: none;
    }

    #titulo8{
        display: none;
    }

    #titulo9{
        display: none;
    }

    #titulo10{
        display: none;
    }

    #titulo11{
        display: none;
    }

    #titulo12{
        display: none;
    }

    /* ----- PERRO ----- */
    #perro {
        display: flex;
        flex-direction: column;
        margin-bottom: 1%;
        gap: 3%;
    }

    #perro-perro {
        margin: 1%;
    }

    .whats {
        width: 115px;
    }

    /* ----- DELEITAR ----- */
    #todo {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 1%;
        gap: 0%;
    }

    #todo-wich {
        margin-bottom: 1%;
    }

    #todo-alita {
        display: flex;
        flex-direction: column;
        margin-bottom: 1%;
    }

    #todo-parrilla {
        display: flex;
        flex-direction: column;
        margin-bottom: 1%;
    }

    #todo-bebida {
        display: flex;
        flex-direction: column;
    }

    #todo-yupi {
        display: flex;
        flex-direction: column;
    }

    #img-postri {
        width: 100%;
        height: 100%;
    }

    #inicio {
        margin-top: 15%;
    }

    #img-inicio {
        width: 100%;
    }

    #txt-inicio {
        font-size: 100%;
    }

    #txt-1 {
        font-size: 120%;
    }

    #txt-2 {
        font-size: 90%;
    }

    #pre-todo {
        font-size: 110%;
    }

    /* ----- PIE ----- */
    footer {
        height: 50%;
    }

    #menu {
        align-items: center;
    }

    #menu-menu {
        width: 50%;
        height: 50%;
    }

    #foot-info {
        font-size: 80%;
    }
}